@import "mixins";
@import "vars";

.headliner{
  font-size: 2.75em;
  font-family: $headline-font;
  line-height: 1;
  overflow-y: visible;

  @media screen and (max-width: 850px){
    font-size: 2.25em;
  }
}

.headliner-quotes{
  font-size: 1.25em;
  line-height: 1;
  overflow-y: visible;
 
  @media screen and (max-width: 850px){
    font-size: 1em;

  }
}

.Landing-Hero-texture {
  width: 100%;
  height: 400px;
  height: calc(100% - 140px);
  min-height: 628px;
  max-height: 850px;
  background-image: url('../../images/Landing-Hero-texture.png');
  //background-color: $lightgrey;
}

.Landing-Hero_movement {
  width: 100%;
  height: 100%;
  animation: LandingHeroMovement 40s linear infinite;
  background-image: url('../../images/Landing-Hero_movement.png');
  background-size: auto 100px;
  background-repeat: repeat;
}

  @keyframes LandingHeroMovement {
    0% {
      background-position: bottom left;
    }
    100% {
      background-position: top -125% right;
    }
  }

  .Landing-Hero-overlay {
    width: 100%;
    height: 100%;
    background-color: transparent;
    //background-color: rgba($darkblue, .1);
  }

  .Landing-Hero_movement--inner {
    width: 100%;
    height: 100%;
    animation: 30s LandingHeroCloud infinite linear;
    background-image: url('../../images/Landing-Hero_movement--inner.png');
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size: auto 100px;
  }

    @keyframes LandingHeroCloud {
      100% {
        background-position: right bottom;
      }
    }

    .Landing-Hero-left {
      width: 36.5%;
      height: 100%;
      display: table;
      float: left;
    }

      .Landing-Hero-left-align {
        width: 100%;
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        padding: 0 10% 100px 13%;
        @include texthaze(lighten($grey, 60%));

        h1 {
          margin-bottom: 25px;
        }
      }

    .Landing-Hero-right {
      width: 100% - 36.5%;
      height: 100%;
      float: left;
      padding-top: 50px;
      padding-right: 5%;
      padding-bottom: 100px + 50px;
    }

      .Landing-Hero-right-align {
        width: 100%;
        height: 100%;
        position: relative;
        background-image: url('../../images/sdtripe.png');
        @include rounded(25px);
        //@include divshadow(lighten($black, 60%));
      }

        .Landing-hero-hex-1,
        .Landing-hero-hex-2,
        .Landing-hero-hex-3 {
          width: 60%;
          height: 73%;
          position: absolute;
          background-size: 70% 100%;
          background-repeat: no-repeat;
        }

        .Landing-hero-hex-1 {
          left: 0;
          top: 5%;
          background-image: url('../../images/Hero-hex--green.png');
          background-position: right;
        }

        .Landing-hero-hex-2 {
          right: 0;
          top: 5%;
          background-image: url('../../images/Hero-hex--orange.png');
          background-position: left;
        }

        .Landing-hero-hex-3 {
          left: 20%;
          bottom: 5%;
          background-image: url('../../images/Hero-hex--lightblue.png');
          background-position: center;
        }

        .Landing-hero-logo {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          background-image: url('../../images/Hero-hex-logo.png');
          background-position: center 43%;
          background-repeat: no-repeat;
          background-size: auto 25%;
        }

          .Landing-hero-label-1,
          .Landing-hero-label-2,
          .Landing-hero-label-3 {
            width: 22%;
            height: 7%;
            position: absolute;
            text-align: center;
            display: table;
          }

            .Landing-hero-label-align {
              width: 100%;
              height: 100%;
              display: table-cell;
              vertical-align: middle;
              text-transform: lowercase;
              font-variant: small-caps;
              padding-bottom: .25em;

              em {
                font-size: 1rem;
              }

              em:last-of-type {
                visibility: hidden;
              }
            }

            .Landing-hero-label-1 {
              top: 24.25%;
              left: 18%;
              background-color: rgba($green, .5);

              ::selection {
                background: $green;
              }
            }

            .Landing-hero-label-2 {
              top: 24.25%;
              right: 18%;
              background-color: rgba($orange, .5);
            }

            .Landing-hero-label-3 {
              top: 71%;
              top: 78%;
              top: 83%;
              left: 39%;

              ::selection {
                background: $lightblue;
              }

              .Landing-hero-label-align {
                width: auto;

                span{
                  height: 100%;
                  background-color: rgba($lightblue, .4);
                  padding: 0 .75em .25em .75em;
                  @include rounded(4px);
                }
              }
            }

          .Landing-hero-icon-1,
          .Landing-hero-icon-2,
          .Landing-hero-icon-3 {
            width: 14%;
            height: 7%;
            position: absolute;
            background-size: auto 100%;
            text-align: center;
            display: table;
            background-size: auto 100%;
            background-position: center center;
            background-repeat: no-repeat;
          }

            .Landing-hero-icon-1 {
              left: 32%;
              top: 11.5%;
              background-image: url('../../images/Hero-hex-icon-1.png');
            }

            .Landing-hero-icon-2 {
              right: 32%;
              top: 11.5%;
              background-image: url('../../images/Hero-hex-icon-2.png');
            }

            .Landing-hero-icon-3 {
              left: 43%;
              top: 73%;
              background-image: url('../../images/Hero-hex-icon-3.png');
            }

.Hero {
  width: 100%;
  position: relative;
  min-height: 500px;
  max-height: 675px;
    @media screen and (max-width: 1350px){
      max-height: 500px;
    }
  height: 500px;
  height: calc(100vh - 140px);
  background-color: $lightgrey;
  clear: both;

  @media screen and (min-width: 2500px){
    min-height: 600px;
  }
}

  .Hero-landing{
    background-image: url('../../images/Hero-landing.jpg');
    background-size: cover;
    background-position: right top; 
  }

  .Hero-mission{
    background-image: url('../../images/Hero-mission.jpg');
    background-size: cover;
    background-position: right center;
  }

  .Hero-crew{
    background-image: url('../../images/Hero-crew.jpg');
    background-size: cover;
    background-position: right center;
  }

  .Hero-video {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;

    video{
      width: 100%;
      height: auto;
      opacity: 0.8;
    }
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
     .Hero-video {
      video {
        display: none;
      }
     } 
  }

  .Hero-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
    background-color: rgba($darkblue, .75);
  }

    .Hero-left {
      width: 36.5%;
      height: 100%;
      background-color: $green;
      background-color: rgba($green, .75);
      padding: 100px 5% 0 5%;
      float: left;

      h1{
        margin-bottom: 50px;
      }
    }

    .Hero-right {
      width: 63.5%;
      height: 100%;
      float: left;
      padding: 75px 0 0 0;
      position: relative;
    }

      .Hero-right-quote {
        position: absolute;
        bottom: 50px;
        right: 7.75%;
        width: 46.125%;
        text-align: right;
        font-family: $cursive-font;
        opacity: .5;

        p{
          font-family: $body-font;
          margin-top: 10px;
          font-size: 1rem;
        }
      }

      .Hero-right-inner {
        margin: 0 auto;
        height: 100%;
      }

        .Hero-landing-image-wrap{
          width: 50%;
          height: 50%;
          position: relative;
        }

          .Hero-hex-1,
          .Hero-hex-2,
          .Hero-hex-3 {
            width: 70%;
            height: 145%;
            position: absolute;
            background-image: url('../../images/Hero-hex.png');
            background-size: 100% 100%;
            background-position: center center;
            background-repeat: no-repeat;
          }

          .Hero-hex-1 {
            right: -20%;
            top: 0;
          }

          .Hero-hex-2 {
            right: -50%;
            top: 0;
          }

          .Hero-hex-3 {
            top: 35%;
            left: 65%;
          }

          .Hero-hex-logo {
            width: 200%;
            height: 95%;
            position: absolute;
            left: 0;
            right: 0;
            top: 35%;
            opacity: 0.75;
            background-image: url(../../images/Hero-hex-logo.png);
            background-size: auto 50%;
            background-position: center center;
            background-repeat: no-repeat;
          }

          .Hero-hex-icon-1,
          .Hero-hex-icon-2,
          .Hero-hex-icon-3{
            width: 30%;
            height: 20%;
            position: absolute;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: auto 80%;
            opacity: 0.75;
          }

            .Hero-hex-icon-1{
              top: 34%;
              right: 20%;
              background-image: url('../../images/Hero-hex-icon-1.png');
            }

            .Hero-hex-icon-2{
              top: 34%;
              right: -50%;
              background-image: url('../../images/Hero-hex-icon-2.png');
            }

            .Hero-hex-icon-3{
              top: 145%;
              right: -15%;
              background-image: url('../../images/Hero-hex-icon-3.png');
            }

            .Hero-hex-dot-1,
            .Hero-hex-dot-2,
            .Hero-hex-dot-3{
              position: absolute;
              width: 10%;
              height: .75em;
            }

            .Hero-hex-dot-1 {
              left: 75.18%;
              top: 51.25%;
            }

            .Hero-hex-dot-2{
              right: -25%;
              top: 51.25%;
            }

            .Hero-hex-dot-3{
              right: -5%;
              top: 127%;
            }

              .Hero-hex-dot-inner {
                width: .75em;
                height: .75em;
                border-radius: 50%;
                background-color: $white;
                margin: 0 auto;
                opacity: 0.75;
                position: relative;
              }

      .Hero-right-widescreen-gutter{
        width: 7.75%;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: $green;
        display: none;
      }

      .greenhaze{
        @include texthaze(darken($green, 10%));
      }

.Layout-left{
  width: 100% - $Right_Side_Width;
  float: left;
  padding-right: 5%;
}

.Layout-right{
  width: $Right_Side_Width;
  float: left;

  p{
    margin-bottom: 25px;
  }

  p:last-of-type{
    margin-bottom: 0;
  }
}

// LANDING

.Landing-portfolio-container{
  width: 100%;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  img{
    height: 25px;
  }
}

.Landing-culture {
  width: 100%;
  background-color: $lightgrey;
  background-image: url('../../images/Landing-culture.jpg');
  background-size: cover;
  background-position: right top;
  position: relative;
}

  .Landing-culture-overlay{
    width: 100%;
    height: 100%;
    position: relative;
  }

    .Landing-culture-left{
      width: 36.5%;
      background-color: $darkblue;
      background-color: rgba($darkblue, .9);

      h1{
        margin-bottom: 50px;
      }
    }

      .Landing-culture-gutter-left{
        width: 25%;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background: transparent;
        background: -webkit-linear-gradient(right, transparent,rgba($darkblue,.1),rgba($darkblue,.2),rgba($darkblue,.3),rgba($darkblue,.4),rgba($darkblue,.5),rgba($darkblue,.6),rgba($darkblue,.7),rgba($darkblue,.8),rgba($darkblue,.9),$darkblue);
        background: linear-gradient(to left, transparent,rgba($darkblue,.1),rgba($darkblue,.2),rgba($darkblue,.3),rgba($darkblue,.4),rgba($darkblue,.5),rgba($darkblue,.6),rgba($darkblue,.7),rgba($darkblue,.8),rgba($darkblue,.9),$darkblue);
        display: none;
      }

      .Landing-culture-gutter-right{
        width: 5%;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: $darkblue;
        display: none;
      }

.Landing-map{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

  .Landing-map-address{
    margin: 50px 0 125px 0;
    padding-left: 50px;
    background-image: url('../../images/Landing-map-address.png');
    background-position: left top;
    background-size: 25px auto;
    background-repeat: no-repeat;

    span{
      display: inline-block;
      margin-bottom: 5px;
    }

    span:last-of-type{
      margin-bottom: 0;
    }
  }

  .Landing-map-left{
    margin-bottom: 0 !important;
  }

  .Landing-map-wrapper{
    height: 100%;
    border-radius: 10px;
    padding: 50px 7.75%;
  }

    #Landing-map-gmaps{
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }

.Landing-News {
  width: 100%;
  background-color: $lightgrey;
}

// SUBPAGE GLOBAL 

.Subpage-hero-bg {
  background-image: url('../../images/Subpage-hero-bg.png');
  background-size: 200px auto;
}

  .Subpage-hero-clouds {
    width: 100%;
    height: 100%;
    background-image: url('../../images/Subpage-hero.png');
    background-position: bottom;
    background-size: auto 90px;
    background-repeat: repeat-x;
  }

.Subpage-hero {
  width: 100%;
  @include texthaze($lightgrey);
  position: relative;
}

// SUBPAGE CREW

.newrowcity{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

  .newrowcityperson {
    width: 32%;
    margin-bottom: 15px;
  }

  .newcityperson-image {
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center center;
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);

    &:after{
      content: "";
      padding-bottom: 100%;
      display: block;
    }
  }

    .newcityperson-content {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }

    .newcityperson-content-overlay {
      width: 100%;
      height: 100%;
    }

      .newcityperson-details {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 10px 10px 25px 25px;
        background-color: rgba($darkblue, .25);
        @include texthaze(black);
        span:first-of-type{
          display: inline-block;
          font-family: "dinbold";
          padding-bottom: 10px;
        }
      }

      .newcityperson-jobs,
      .newcityperson-linkout {
        position: absolute;
        right: 25px;
        top: 25px;
        width: 50%;
        height: 25px;
        background-size: auto 100%;
        background-position: right top;
        background-repeat: no-repeat;
      }

        .newcityperson-jobs {
          background-image: url('../../images/Advisory-portrait-jobs.png');
        }

        .newcityperson-linkout {
          background-image: url('../../images/Advisory-portrait-link.png');
          display: none;
        }

    .newcityperson-content-overlay:hover {
      .newcityperson-linkout {
        display: inline-block;
      }
      .newcityperson-image {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
      }
      background-color: rgba($darkblue, .75);
      @include fader;
    }

        .Crew-image--Simi {
          background-image: url('../../images/Crew-image--Simi.jpg');
        }

        .Crew-image--Singh {
          background-image: url('../../images/Crew-image--Singh.jpg');
        }

        .Crew-image--Sharma {
          background-image: url('../../images/Crew-image--Sharma.jpg');
        }

        .Crew-image--Heggie {
          background-image: url('../../images/Crew-image--Heggie.jpg');
        }

        .Crew-image--Schiller {
          background-image: url('../../images/Crew-image--Schiller.jpg');
        }

        .Crew-image--Posey {
          background-image: url('../../images/Crew-image--Posey.jpg');
        }

        .Crew-image--Kilp {
          background-image: url('../../images/Crew-image--Kilp.jpg');
        }

        .Crew-image--Sundaram {
          background-image: url('../../images/Crew-image--Sundaram.jpg');
        }

        .Crew-image--StGeorge {
          background-image: url('../../images/Crew-image--StGeorge.jpg');
        }

        .Crew-image--Nelson {
          background-image: url('../../images/Crew-image--Nelson.jpg');
        }

        .Crew-image--Elder {
          background-image: url('../../images/Crew-image--Elder.jpg');
        }

        .Crew-image--Priest {
          background-image: url('../../images/Crew-image--Priest.jpg');
        }

        .Crew-image--unknown {
          background-image: url('../../images/Crew-image--unknown.jpg');
        }

    .Advisory-board-wrapper {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }

      .Advisory-portrait {
        width: 19.5%;
        background-color: $lightgrey;
        position: relative;
        background-size: cover;
        background-position: center center;
        @include rounded(5px);

        &:after{
          content: "";
          padding-bottom: 100%;
          display: block;
        }
      }

        .Advisory-portrait-content {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
        }

          .Advisory-portrait-content-overlay {
            width: 100%;
            height: 100%;
            position: relative;
            @include rounded(5px);
          }

            .Advisory-portrait-link {
              position: absolute;
              top: 25px;
              right: 25px;
              width: 50%;
              height: 25px;
              background-image: url('../../images/Advisory-portrait-link.png');
              background-size: auto 100%;
              background-position: right top;
              background-repeat: no-repeat;
              display: none;
            }

            .Advisory-portrait-name {
              position: absolute;
              left: 25px;
              bottom: 25px;
              @include texthaze(darken($black, 10%));
              color: $white;
              font-family: "dinbold";
            }

            .Advisory-portrait-content-overlay:hover {
              background-color: rgba($darkblue, .75);
              @include fader;

              .Advisory-portrait-link {
                display: inline-block;
              }
            }

// FOOTER

footer{
  background-color: $lightblue;
}

.Footer{
  background-image: url('../../images/Footer.png');
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: auto 165px;
}

.Footer-newsletter {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 31.25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

  .Footer-newsletter-CTA{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

    .Footer-newsletter-button{
      width: 100%;
      padding: 10px;
      margin-top: 6.25px;
      border: 3px solid $white;
      border-radius: 10px;
      @include divshadow(darken($green, 10%));
      cursor: pointer;
    }

    .NewsletterFields {
      display: none;
    }

      .NewsletterFields-Wrapper{
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 10px;

        input[type="submit"]{
          width: 82%;
          margin-left: 18%;
          border: 0;
          outline: 0;
          padding: 10px;
          margin-bottom: 40px;
          border-radius: 10px;
          @include divshadow(darken($green, 10%));
          font-family: "dinbold";
          background-color: $orange;
          color: $white;
          @include texthaze($grey);
          cursor: pointer;
        }
      }

      .NewsletterFields-left{
        width: 18%;
        float: left;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
      }

      .NewsletterFields-right{
        width: 82%;
        float: left;

        input[type="text"],
        input[type="email"]{
          width: 100%;
          border: 0;
          outline: 0;
          border-radius: 10px;
          padding: 10px;
          color: $black;
        }
      }

.Footer-logo{
  img{
    height: 80px;
  }
}

.Footer-block-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

  .footer-block{
    width: 30%;
    float: left;
    position: relative;

    a{
      margin-bottom: 10px;
      width: 100%;
      display: inline-block;
      text-decoration: none;

      &:hover{
        color: $white;
        @include fader;
      }
    }

    a:last-of-type{
      margin-bottom: 0;
    }
  }

    .Footer-block-social{
      width: 100%;
      padding: 9px 25px 5px 5px;
      border-radius: 10px;
      margin-bottom: 0px;
    }

      .Footer-block-social--linkedin{
        background-image: url('../../images/Footer-block-social--li.png');
      }

      .Footer-block-social--twitter{
        background-image: url('../../images/Footer-block-social--tw.png');
      }

      .Footer-block-home{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('../../images/Footer-block-social--home.png');
        border-radius: 10px;
        padding: 9px 25px 5px 25px;

        a:hover{
          color: $darkblue;
        }
      }

      .Footer-block-social--linkedin,
      .Footer-block-social--twitter,
      .Footer-block-home{
        background-size: auto 60%;
        background-position: left 10px top 50%;
        background-repeat: no-repeat;
        border: 1px solid $darkblue;

        &:hover{
          padding-right: 30px;
          @include fader;
        }
      }

.Footer-grave{
  padding: 15px 5% 10px 5%;

  a{
    color: $white;
    text-decoration: none;

    &:hover{
      color: $orange;
      @include fader;
    }
  }
}

.divshadow{
  @include divshadow;
}

.divshadow--light {
  @include divshadow(lighten($grey, 35%));
}



