@import "vars";
@import "mixins";

@media screen and (min-width: 2000px){

.Hero-right-widescreen-gutter,
.Landing-culture-gutter-left,
.Landing-culture-gutter-right{
	display: inline-block;
}

.Hero-left{
	background-color: $green;
}

.Hero-right {
	padding-right: 5%;
}

	.Hero-right-quote{
		right: 12.75%;
	}

} // max 2000

@media screen and (max-width: 1150px){

  .Hero-hex-1,
  .Hero-hex-2,
  .Hero-hex-3 {
  	width: 90%;
  }

  .Hero-hex-1{
  	right: -20%;
  }

  .Hero-hex-2{
  	right: -70%;
  }

  .Hero-hex-3 {
  	left: 55%;
  }

  .Hero-hex-icon-1{
  	width: 50%;
    right: 20%;
  }

  .Hero-hex-icon-2{
  	width: 50%;
    right: -70%;
  }

  .Hero-hex-icon-3{
  	width: 50%;
    right: -25%;
  }

  .Hero-hex-dot-1 {
    top: 47.25%;
  }

  .Hero-hex-dot-2{
    top: 47.25%;
  }

  .Hero-hex-dot-3{
    top: 122%;
  }

}

@media screen and (max-width: 935px){

	.Hero-video {
		video{
			display: none;
		}
	}

	.Hero-overlay {
		background-color: rgba($darkblue, .9);
	}

} // 935

@media screen and (max-width: 850px){

	.Hero {
		height: auto;
		min-height: 1px;
	}

	.Hero-video {
		width: auto;
		height: auto;
		position: relative;

		video{
			display: none;
		}
	}

	.Hero-overlay{
		position: relative;
	}

	.Hero-left {
		width: 100%;
		padding: 75px 5%;
		background-color: rgba($darkblue, .5);
		@include texthaze(darken($darkblue, 10%));

		h1{
			margin-bottom: 25px;
		}
	}

	.Hero-right {
		display: none;
	}

	.Landing-portfolio-container{
		img{
			height: 15px;
		}
	}

	.Landing-culture {
		background-image: url('../../images/Landing-culture-mobile.jpg');
		background-position: center center;
	}

	.Landing-culture-left {
		width: 100%;
		background-color: rgba($darkblue, .75);
	}

	.Landing-map{
		display: inline-block;
	}

	.Landing-map-left {
		width: 100%;
		margin-bottom: 0;
	}

	.Landing-map-address {
		margin-bottom: 0;
	}

	.Landing-map-right,
	.Landing-map-wrapper,
	#Landing-map-gmaps{
		display: none;
	}

	.Footer-block-social,
	.Footer-block-home{
		height: 2em;
		background-position: center center;
		padding: 9px 10px 5px 5px;
		span{
			display: none;
		}

    &:hover{
      padding-right: 10px;
    }
	}

} // 850

@media screen and (max-width: 700px){

	.Layout-left{
		width: 100%;
		margin-bottom: 50px;
	}

	.Layout-right{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}

	.Footer{
		background-image: none;
	}

	.Footer-newsletter{
		display: inline-block;
		padding-top: 40px;
		padding-bottom: 50px;

		.Layout-left{
			margin-bottom: 25px;
			padding-bottom: 0;
		}
	}

} // 700

@media screen and (max-width: 500px){

	.Footer-block-container{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.footer-block {
		width: 100%;
		height: auto;
		margin-bottom: 15px;

		a{
			margin-bottom: 15px;
		}
	}

	.Footer-block-social--linkedin{
		margin-bottom: 25px;
	}

	.Footer-block-home{
		margin-top: 25px;
	}


} // 500	
