@import "vars";
@import "mixins";

@media screen and (max-width: 1000px){


} //1000

@media screen and (max-width: 850px){

	.Hero {
		height: auto;
		min-height: 1px;
	}

	.Hero-video {
		width: auto;
		height: auto;
		position: relative;

		video{
			display: none;
		}
	}

	.Hero-overlay{
		position: relative;
	}

	.Hero-left {
		width: 100%;
		padding: 75px 5%;
		background-color: rgba($darkblue, .5);
		@include texthaze(darken($darkblue, 10%));
	}

	.Hero-right {
		display: none;
	}

	.Landing-portfolio-container{
		img{
			height: 15px;
		}
	}

	.Landing-culture {
		background-image: url('../../images/Landing-culture-mobile.jpg');
		background-position: center center;
	}

	.Landing-culture-left {
		width: 100%;
		background-color: rgba($darkblue, .75);
	}

	.Landing-map{
		display: inline-block;
	}

	.Landing-map-left {
		width: 100%;
		margin-bottom: 0;
	}

	.Landing-map-address {
		margin-bottom: 0;
	}

	.Landing-map-right,
	.Landing-map-wrapper,
	#Landing-map-gmaps{
		display: none;
	}

	.Footer-block-social,
	.Footer-block-home{
		height: 2em;
		background-position: center center;
		padding: 9px 10px 5px 5px;
		span{
			display: none;
		}

    &:hover{
      padding-right: 10px;
    }
	}

} // 850

@media screen and (max-width: 700px){

	.Layout-left{
		width: 100%;
		margin-bottom: 50px;
	}

	.Layout-right{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}

	.Footer{
		background-image: none;
	}

	.Footer-newsletter{
		display: inline-block;
		padding-top: 40px;
		padding-bottom: 50px;

		.Layout-left{
			margin-bottom: 25px;
			padding-bottom: 0;
		}
	}

} // 700

@media screen and (max-width: 500px){

	.Footer-block-container{
		flex-direction: column;
	}

	.footer-block {
		width: 100%;
		height: auto;
		margin-bottom: 15px;

		a{
			margin-bottom: 15px;
		}
	}

	.Footer-block-social--linkedin{
		margin-bottom: 25px;
	}

	.Footer-block-home{
		margin-top: 25px;
	}


} // 500	
