@import "vars";
@import "mixins";


.Navigation {
  width: 100%;
  z-index: 9999;
  overflow: visible;
}

  .Navigation-newsbar {
    width: 100%;
    height: 40px;
    display: table;
  }

    .Navigation-newsbar-align {
      width: 100%;
      height: 100%;
      display: table-cell;
      vertical-align: middle;
      text-align: right;
      font-family: "dinlight";

      span{
        em{
          font-family: "din"; 
        }
      }

      span::after{
        content: '\21FE';
        margin-left: 10px;
      }

    }

  .Navigation-logo {
    height: 100%;
    float: left;
    display: table;
    position: relative;
    z-index: 9999;
  }

    .Navigation-logo-align{
      width: 100%;
      height: 100%;
      display: table-cell;
      vertical-align: middle;
      position: relative;

      img{
        height: 75px;
        margin-top: 5px;
      }
    }

      .Navigation-logo-bg{
        width: 383px;
        height: 180px;
        position: absolute;
        left: -50px;
        left: -5vw;
        top: -40px;
        background-image: url('../../images/Navigation-logo-bg.png');
        background-size: 100% 100%;
      }

  .Navigation-linkbar {
    width: 100%;
    height: $Navigation_linkbar_height;
  }

    .Navigation-linkbar-linkwrap {
      width: $Right_Side_Width;
      height: 100%;
      float: right;
      padding: 5px 0;
      display: flex;
      justify-content: space-between;

      div > div:nth-child(1){
        .Navigation-linkbar-box-icon{
          background-position: right top;
        }
      }

      div + div:nth-child(2){
        .Navigation-linkbar-box-icon{
          background-position: right -30px;
        }
      }

      div + div:nth-child(3){
        .Navigation-linkbar-box-icon{
          background-position: right -60px;
        }
      }

      div + div:nth-child(4){
        .Navigation-linkbar-box-icon{
          background-position: right -90px;
        }
      }

      div + div:last-of-type{
        .Navigation-linkbar-box-icon{
          background-position: right -120px;
        }
      }
    }

      .Navigation-linkbar-box {
        width: 19.5%;
        height: 100%;
        position: relative;
        -webkit-border-top-left-radius: 10px;
        -webkit-border-bottom-right-radius: 10px;
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-bottomright: 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: $orange;
        @include vertical_gradient($orange);
        color: $white;
        @include texthaze(darken($orange, 10%));

        a{
          text-decoration: none;
          font-family: "din";
        }

        br{
          display: none;
        }

        &:hover{
          background-color: $lightblue;
          @include vertical_gradient($lightblue);
          @include texthaze(darken($lightblue, 10%));
          @include fader;
        }
      }

        .Navigation-linkbar-box-inner {
          width: 100%;
          height: 100%;
          padding: 10px 15px;
        }

        .Navigation-linkbar-box-icon {
          width: 50px;
          height: 20px;
          position: absolute;
          right: 15px;
          bottom: 10px;
          background-image: url('../../images/Navigation-linkbar-box-icon.png');
          background-repeat: no-repeat;
        }

.Navigation-fixed-contact {
  display: none;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $green;
  z-index: 9999;
  max-height: 20vh;
  box-shadow: 0 -5px 5px -5px $grey;
}

  .Navigation-fixed-contact-link{
    width: 100%;
    height: 100%;
    padding: 15px 0;
    font-family: "dinbold";

    span{
      display: inline-block;
      padding: 5px 10px 5px 10px;
      border-radius: 10px;
    }

    span:first-of-type{
      float: left;
    }

    span:last-of-type{
      float: right;
      background-color: $orange;
      color: $white;
      @include texthaze($grey);
      @include divshadow($black);
    }
  }

@media screen and (max-width: 1000px){

  .Navigation-logo-bg {
    background-image: none;
  }

} //1000

@media screen and (max-width: 850px){

  .Navigation-newsbar-align{
    text-align: left;
  }

  .Navigation-logo {
    width: 100%;
  }

  .Navigation-linkbar-linkwrap {
    width: 100%;
  }

  .Navigation-linkbar-box-connect{
    display: none;
  }

  .Navigation-linkbar-box {
    width: 24.5%;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .Navigation-linkbar-box-first{
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .Navigation-linkbar-box-last{
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

.Navigation-fixed-contact {
  display: inline;
}

} // 850

@media screen and (max-width: 700px){

  .Navigation-newsbar{
    display: none;
  }

  .Navigation-linkbar-box-inner {
    padding: 10px 10px;
    text-transform: capitalize;

    br{
      display: inline;
    }
  }
}

@media screen and (max-width: 500px){

  .Navigation-fixed-contact-link{
    em{
      display: none;
    }
  }

  .Navigation-logo-align{
    padding-left: 5%;
  }

  .Nav-Section-wrap{
    padding: 0 1% !important;
  }

} // 500