@import "vars";

.u-Section-wrap {
	margin: 0 auto;
	max-width: 2000px;
}

.u-Fill-lightgrey {
	background-color: $lightgrey;
}

.u-Fill-green {
	background-color: $green;
}

.u-Fill-lightblue{
	background-color: $lightblue;
}

.u-Fill-darkblue {
	background-color: $darkblue;
}
.u-Color-white {
	color: $white;
}

.u-Color-grey{
	color: $grey;
}

.u-Color-darkblue{
	color: $darkblue;
}

.u-Color-lightblue{
	color: $lightblue;
}

.u-Color-green{
	color: $green;
}


.u-Section-Pad {
	padding: 100px 5% 125px 5%;

	@media screen and (max-width: 700px){
		padding: 50px 5% 75px 5%;
	}
}

.u-Section-Pad--side {
	padding: 0 5%;
}

.u-Section-Pad--subhero {
	padding: 75px 5% 125px 5%;

	@media screen and (max-width: 850px){
		padding: 50px 5% 75px 5%;
	}

	@media screen and (max-width: 700px){
		padding: 25px 5% 75px 5%;
	}
}

.u-Size-100 {
	width: 100%;
	height: 100%;
}

.u-Padding--zero{
	padding: 0;
}

.u-marbottom-50{
	margin-bottom: 50px;
}

.u-marbottom-125{
	margin-bottom: 125px;
}

.t-dinregular{
	font-family: "din";
}

.t-center{
	text-align: center;
}

.t-right{
	text-align: right;
}

.u-Float--right{
	float: right !important;
}