$black: #454545;
$white: #fff;
$grey: #666666;
$lightgrey: #f1f5f8;
$red: red;
$green: #75c147;
$blue: blue;
$lightblue: #306faa;
$darkblue: #132a4f;
$orange: #f90;

///

$Section-pad: 0 5%;

$Right_Side_Width: 65%;

$Navigation_linkbar_height: 100px;

$body_background_color: $white;
$body_background_image: none;

$headline-font: "dinblack", Helvetica, Arial, Gadget, sans-serif;


$body-font: "dinlight", Helvetica, Arial, sans-serif;
$body-text-color: $black;


$cursive-font: "cursive", cursive;