.headliner {
  font-size: 2.75em;
  font-family: "dinblack", Helvetica, Arial, Gadget, sans-serif;
  line-height: 1;
  overflow-y: visible; }
  @media screen and (max-width: 850px) {
    .headliner {
      font-size: 2.25em; } }

.headliner-quotes {
  font-size: 1.25em;
  line-height: 1;
  overflow-y: visible; }
  @media screen and (max-width: 850px) {
    .headliner-quotes {
      font-size: 1em; } }

.Hero {
  width: 100%;
  position: relative;
  height: 500px;
  height: calc(100vh - 140px);
  min-height: 400px;
  max-height: 800px;
  background-color: lightgrey;
  clear: both; }
  @media screen and (min-width: 2500px) {
    .Hero {
      min-height: 600px; } }

.Hero-landing {
  background-image: url("../../images/Hero-landing.jpg");
  background-size: cover;
  background-position: right top; }

.Hero-mission {
  background-image: url("../../images/Hero-mission.jpg");
  background-size: cover;
  background-position: right center; }

.Hero-crew {
  background-image: url("../../images/Hero-crew.jpg");
  background-size: cover;
  background-position: right center; }

.Hero-video {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden; }
  .Hero-video video {
    width: 100%;
    height: auto;
    opacity: 0.8; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .Hero-video video {
    display: none; } }
.Hero-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
  background-color: rgba(19, 42, 79, 0.75); }

.Hero-left {
  width: 36.5%;
  height: 100%;
  background-color: #75c147;
  background-color: rgba(117, 193, 71, 0.75);
  padding: 100px 5% 0 5%;
  float: left; }
  .Hero-left h1 {
    margin-bottom: 50px; }

.Hero-right {
  width: 63.5%;
  height: 100%;
  float: left;
  padding: 75px 0 0 0;
  position: relative; }

.Hero-right-quote {
  position: absolute;
  bottom: 50px;
  right: 7.75%;
  width: 46.125%;
  text-align: right;
  font-family: "cursive", cursive;
  opacity: .5; }
  .Hero-right-quote p {
    font-family: "dinlight", Helvetica, Arial, sans-serif;
    margin-top: 10px;
    font-size: 1rem; }

.Hero-right-inner {
  margin: 0 auto;
  height: 100%; }

.Hero-landing-image-wrap {
  width: 50%;
  height: 50%;
  position: relative; }

.Hero-hex-1,
.Hero-hex-2,
.Hero-hex-3 {
  width: 70%;
  height: 145%;
  position: absolute;
  background-image: url("../../images/Hero-hex.png");
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat; }

.Hero-hex-1 {
  right: -20%;
  top: 0; }

.Hero-hex-2 {
  right: -50%;
  top: 0; }

.Hero-hex-3 {
  top: 35%;
  left: 65%; }

.Hero-hex-logo {
  width: 200%;
  height: 95%;
  position: absolute;
  left: 0;
  right: 0;
  top: 35%;
  opacity: 0.75;
  background-image: url(../../images/Hero-hex-logo.png);
  background-size: auto 50%;
  background-position: center center;
  background-repeat: no-repeat; }

.Hero-hex-icon-1,
.Hero-hex-icon-2,
.Hero-hex-icon-3 {
  width: 30%;
  height: 20%;
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 80%;
  opacity: 0.75; }

.Hero-hex-icon-1 {
  top: 34%;
  right: 20%;
  background-image: url("../../images/Hero-hex-icon-1.png"); }

.Hero-hex-icon-2 {
  top: 34%;
  right: -50%;
  background-image: url("../../images/Hero-hex-icon-2.png"); }

.Hero-hex-icon-3 {
  top: 145%;
  right: -15%;
  background-image: url("../../images/Hero-hex-icon-3.png"); }

.Hero-hex-dot-1,
.Hero-hex-dot-2,
.Hero-hex-dot-3 {
  position: absolute;
  width: 10%;
  height: .75em; }

.Hero-hex-dot-1 {
  left: 75.18%;
  top: 51.25%; }

.Hero-hex-dot-2 {
  right: -25%;
  top: 51.25%; }

.Hero-hex-dot-3 {
  right: -5%;
  top: 127%; }

.Hero-hex-dot-inner {
  width: .75em;
  height: .75em;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
  opacity: 0.75;
  position: relative; }

.Hero-right-widescreen-gutter {
  width: 7.75%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #75c147;
  display: none; }

.greenhaze {
  text-shadow: #5e9f36 1px 0 15px; }

.Layout-left {
  width: 35%;
  float: left;
  padding-right: 5%; }

.Layout-right {
  width: 65%;
  float: left; }
  .Layout-right p {
    margin-bottom: 25px; }
  .Layout-right p:last-of-type {
    margin-bottom: 0; }

.Landing-portfolio-container {
  width: 100%;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .Landing-portfolio-container img {
    height: 25px; }

.Landing-culture {
  width: 100%;
  background-color: #f1f5f8;
  background-image: url("../../images/Landing-culture.jpg");
  background-size: cover;
  background-position: right top;
  position: relative; }

.Landing-culture-overlay {
  width: 100%;
  height: 100%;
  position: relative; }

.Landing-culture-left {
  width: 36.5%;
  background-color: #132a4f;
  background-color: rgba(19, 42, 79, 0.9); }
  .Landing-culture-left h1 {
    margin-bottom: 50px; }

.Landing-culture-gutter-left {
  width: 25%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: transparent;
  background: -webkit-linear-gradient(right, transparent, rgba(19, 42, 79, 0.1), rgba(19, 42, 79, 0.2), rgba(19, 42, 79, 0.3), rgba(19, 42, 79, 0.4), rgba(19, 42, 79, 0.5), rgba(19, 42, 79, 0.6), rgba(19, 42, 79, 0.7), rgba(19, 42, 79, 0.8), rgba(19, 42, 79, 0.9), #132a4f);
  background: linear-gradient(to left, transparent, rgba(19, 42, 79, 0.1), rgba(19, 42, 79, 0.2), rgba(19, 42, 79, 0.3), rgba(19, 42, 79, 0.4), rgba(19, 42, 79, 0.5), rgba(19, 42, 79, 0.6), rgba(19, 42, 79, 0.7), rgba(19, 42, 79, 0.8), rgba(19, 42, 79, 0.9), #132a4f);
  display: none; }

.Landing-culture-gutter-right {
  width: 5%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #132a4f;
  display: none; }

.Landing-map {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.Landing-map-address {
  margin: 50px 0 125px 0;
  padding-left: 50px;
  background-image: url("../../images/Landing-map-address.png");
  background-position: left top;
  background-size: 25px auto;
  background-repeat: no-repeat; }
  .Landing-map-address span {
    display: inline-block;
    margin-bottom: 5px; }
  .Landing-map-address span:last-of-type {
    margin-bottom: 0; }

.Landing-map-left {
  margin-bottom: 0 !important; }

.Landing-map-wrapper {
  height: 100%;
  border-radius: 10px;
  padding: 50px 7.75%; }

#Landing-map-gmaps {
  width: 100%;
  height: 100%;
  border-radius: 10px; }

.Subpage-hero-bg {
  background-image: url("../../images/Subpage-hero-bg.png");
  background-size: 200px auto; }

.Subpage-hero {
  width: 100%;
  background-image: url("../../images/Subpage-hero.png");
  background-position: right bottom;
  background-size: auto 90px;
  background-repeat: no-repeat;
  text-shadow: #f1f5f8 1px 0 15px; }

.Crew-image-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.Crew-portrait {
  width: 50%;
  margin-bottom: 8px;
  background-size: cover;
  background-position: center center; }
  .Crew-portrait:after {
    content: "";
    display: inline-block;
    padding-bottom: 100%; }

.Crew-details {
  width: 50%;
  background-color: #f1f5f8;
  margin-bottom: 8px;
  padding: 25px;
  position: relative; }
  .Crew-details span:first-of-type {
    font-family: "dinblack";
    display: inline-block;
    margin-bottom: 10px; }

.Crew-details-links {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 25px;
  padding: 0 25px;
  text-align: right; }

.Crew-image--Simi {
  background-image: url("../../images/Crew-image--Simi.jpg"); }

.Crew-image--Singh {
  background-image: url("../../images/Crew-image--Singh.jpg"); }

.Crew-image--Sharma {
  background-image: url("../../images/Crew-image--Sharma.jpg"); }

.Crew-image--Heggie {
  background-image: url("../../images/Crew-image--Heggie.jpg"); }

.Crew-image--Schiller {
  background-image: url("../../images/Crew-image--Schiller.jpg"); }

.Crew-image--Posey {
  background-image: url("../../images/Crew-image--Posey.jpg"); }

.Crew-image--Kilp {
  background-image: url("../../images/Crew-image--Kilp.jpg"); }

.Crew-image--Sundaram {
  background-image: url("../../images/Crew-image--Sundaram.jpg"); }

.Crew-image--StGeorge {
  background-image: url("../../images/Crew-image--StGeorge.jpg"); }

.Crew-image--Nelson {
  background-image: url("../../images/Crew-image--Nelson.jpg"); }

.Crew-image--Elder {
  background-image: url("../../images/Crew-image--Elder.jpg"); }

.Crew-image--Priest {
  background-image: url("../../images/Crew-image--Priest.jpg"); }

.Advisory-board-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.Advisory-portrait {
  width: 19.5%;
  background-color: #f1f5f8;
  position: relative;
  background-size: cover;
  background-position: center center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  .Advisory-portrait:after {
    content: "";
    padding-bottom: 100%;
    display: block; }

.Advisory-portrait-content {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.Advisory-portrait-content-overlay {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.Advisory-portrait-link {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 50%;
  height: 25px;
  background-image: url("../../images/Advisory-portrait-link.png");
  background-size: auto 100%;
  background-position: right top;
  background-repeat: no-repeat;
  display: none; }

.Advisory-portrait-name {
  position: absolute;
  left: 25px;
  bottom: 25px;
  text-shadow: #2c2c2c 1px 0 15px;
  color: #fff;
  font-family: "dinbold"; }

.Advisory-portrait-content-overlay:hover {
  background-color: rgba(19, 42, 79, 0.75);
  -khtml-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s; }
  .Advisory-portrait-content-overlay:hover .Advisory-portrait-link {
    display: inline-block; }

footer {
  background-color: #306faa; }

.Footer {
  background-image: url("../../images/Footer.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: auto 165px; }

.Footer-newsletter {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 31.25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.Footer-newsletter-CTA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.Footer-newsletter-button {
  width: 100%;
  padding: 10px;
  margin-top: 6.25px;
  border: 3px solid #fff;
  border-radius: 10px;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 #5e9f36;
  cursor: pointer; }

.NewsletterFields {
  display: none; }

.NewsletterFields-Wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px; }
  .NewsletterFields-Wrapper input[type="submit"] {
    width: 82%;
    margin-left: 18%;
    border: 0;
    outline: 0;
    padding: 10px;
    margin-bottom: 40px;
    border-radius: 10px;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 #5e9f36;
    font-family: "dinbold";
    background-color: #f90;
    color: #fff;
    text-shadow: #666666 1px 0 15px;
    cursor: pointer; }

.NewsletterFields-left {
  width: 18%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.NewsletterFields-right {
  width: 82%;
  float: left; }
  .NewsletterFields-right input[type="text"],
  .NewsletterFields-right input[type="email"] {
    width: 100%;
    border: 0;
    outline: 0;
    border-radius: 10px;
    padding: 10px;
    color: #454545; }

.Footer-logo img {
  height: 80px; }

.Footer-block-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footer-block {
  width: 30%;
  float: left;
  position: relative; }
  .footer-block a {
    margin-bottom: 10px;
    width: 100%;
    display: inline-block;
    text-decoration: none; }
    .footer-block a:hover {
      color: #fff;
      -khtml-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -ms-transition: all 0.3s;
      transition: all 0.3s; }
  .footer-block a:last-of-type {
    margin-bottom: 0; }

.Footer-block-social {
  width: 100%;
  padding: 9px 25px 5px 5px;
  border-radius: 10px;
  margin-bottom: 0px; }

.Footer-block-social--linkedin {
  background-image: url("../../images/Footer-block-social--li.png"); }

.Footer-block-social--twitter {
  background-image: url("../../images/Footer-block-social--tw.png"); }

.Footer-block-home {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../images/Footer-block-social--home.png");
  border-radius: 10px;
  padding: 9px 25px 5px 25px; }
  .Footer-block-home a:hover {
    color: #132a4f; }

.Footer-block-social--linkedin,
.Footer-block-social--twitter,
.Footer-block-home {
  background-size: auto 60%;
  background-position: left 10px top 50%;
  background-repeat: no-repeat;
  border: 1px solid #132a4f; }
  .Footer-block-social--linkedin:hover,
  .Footer-block-social--twitter:hover,
  .Footer-block-home:hover {
    padding-right: 30px;
    -khtml-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s; }

.Footer-grave {
  padding: 15px 5% 10px 5%; }
  .Footer-grave a {
    color: #fff;
    text-decoration: none; }
    .Footer-grave a:hover {
      color: #f90;
      -khtml-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -ms-transition: all 0.3s;
      transition: all 0.3s; }

.divshadow {
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 #666666; }

.divshadow--light {
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 #bfbfbf; }

/*# sourceMappingURL=development.css.map */
