.headliner {
  font-size: 2.75em;
  font-family: "dinblack", Helvetica, Arial, Gadget, sans-serif;
  line-height: 1;
  overflow-y: visible; }

.Hero {
  width: 100%;
  position: relative;
  height: 500px;
  height: calc(100vh - 140px);
  min-height: 400px;
  max-height: 800px;
  background-color: lightgrey;
  clear: both; }
  @media screen and (min-width: 2500px) {
    .Hero {
      min-height: 600px; } }

.Hero-landing {
  background-image: url("../../images/Hero-landing.jpg");
  background-size: cover;
  background-position: right top; }

.Hero-video {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden; }
  .Hero-video video {
    width: 100%;
    height: auto;
    opacity: 0.8; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .Hero-video video {
    display: none; } }
.Hero-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
  background-color: rgba(19, 42, 79, 0.75); }

.Hero-left {
  width: 36.5%;
  height: 100%;
  background-color: #69c040;
  background-color: rgba(105, 192, 64, 0.75);
  padding: 100px 5% 0 5%;
  float: left; }
  .Hero-left h1 {
    margin-bottom: 50px; }

.Hero-right {
  width: 63.5%;
  height: 100%;
  float: left;
  padding: 75px 0 0 0;
  position: relative; }

.Hero-right-inner {
  margin: 0 auto;
  height: 100%; }

.Hero-landing-image-wrap {
  width: 50%;
  height: 50%;
  position: relative; }

.Hero-hex-1,
.Hero-hex-2,
.Hero-hex-3 {
  width: 70%;
  height: 145%;
  position: absolute;
  background-image: url("../../images/Hero-hex.png");
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat; }

.Hero-hex-1 {
  right: -20%;
  top: 0; }

.Hero-hex-2 {
  right: -50%;
  top: 0; }

.Hero-hex-3 {
  top: 35%;
  left: 65%; }

.Hero-hex-logo {
  width: 200%;
  height: 95%;
  position: absolute;
  left: 0;
  right: 0;
  top: 35%;
  opacity: 0.5;
  background-image: url(../../images/Hero-hex-logo.png);
  background-size: auto 50%;
  background-position: center center;
  background-repeat: no-repeat; }

.Hero-hex-icon-1,
.Hero-hex-icon-2,
.Hero-hex-icon-3 {
  width: 30%;
  height: 20%;
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 90%;
  opacity: 0.5; }

.Hero-hex-icon-1 {
  top: 34%;
  right: 20%;
  background-image: url("../../images/Hero-hex-icon-1.png"); }

.Hero-hex-icon-2 {
  top: 34%;
  right: -50%;
  background-image: url("../../images/Hero-hex-icon-2.png"); }

.Hero-hex-icon-3 {
  top: 145%;
  right: -15%;
  background-image: url("../../images/Hero-hex-icon-3.png"); }

.Hero-right-widescreen-gutter {
  width: 7.75%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #69c040;
  display: none; }

.greenhaze {
  text-shadow: #549a33 1px 0 15px; }

.Layout-left {
  width: 35%;
  float: left;
  padding-right: 5%; }

.Layout-right {
  width: 65%;
  float: left; }
  .Layout-right p {
    margin-bottom: 25px; }
  .Layout-right p:last-of-type {
    margin-bottom: 0; }

.Landing-portfolio-container {
  width: 100%;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .Landing-portfolio-container img {
    height: 25px; }

.Landing-culture {
  width: 100%;
  background-color: #f1f5f8;
  background-image: url("../../images/Landing-culture.jpg");
  background-size: cover;
  background-position: right top; }

.Landing-culture-overlay {
  width: 100%;
  height: 100%; }

.Landing-culture-left {
  width: 36.5%;
  background-color: #132a4f;
  background-color: rgba(19, 42, 79, 0.9); }
  .Landing-culture-left h1 {
    margin-bottom: 50px; }

.Landing-map {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.Landing-map-address {
  margin: 50px 0 125px 0;
  padding-left: 50px;
  background-image: url("../../images/Landing-map-address.png");
  background-position: left top;
  background-size: 25px auto;
  background-repeat: no-repeat; }
  .Landing-map-address span {
    display: inline-block;
    margin-bottom: 5px; }
  .Landing-map-address span:last-of-type {
    margin-bottom: 0; }

.Landing-map-left {
  margin-bottom: 0 !important; }

.Landing-map-wrapper {
  height: 100%;
  border-radius: 10px;
  padding: 50px 7.75%; }

#Landing-map-gmaps {
  width: 100%;
  height: 100%;
  border-radius: 10px; }

footer {
  background-color: #306faa; }

.Footer {
  background-image: url("../../images/Footer.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: auto 165px; }

.Footer-newsletter {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 31.25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.Footer-newsletter-CTA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.Footer-newsletter-button {
  width: 100%;
  padding: 10px;
  margin-top: 6.25px;
  border: 3px solid #fff;
  border-radius: 10px;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 #549a33;
  cursor: pointer; }

.NewsletterFields {
  display: none; }

.NewsletterFields-Wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px; }
  .NewsletterFields-Wrapper input[type="submit"] {
    width: 82%;
    margin-left: 18%;
    border: 0;
    outline: 0;
    padding: 10px;
    margin-bottom: 40px;
    border-radius: 10px;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 #549a33;
    font-family: "dinbold";
    background-color: #f90;
    color: #fff;
    text-shadow: #666666 1px 0 15px; }

.NewsletterFields-left {
  width: 18%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.NewsletterFields-right {
  width: 82%;
  float: left; }
  .NewsletterFields-right input[type="text"],
  .NewsletterFields-right input[type="email"] {
    width: 100%;
    border: 0;
    outline: 0;
    border-radius: 10px;
    padding: 10px;
    color: #454545; }

.Footer-logo img {
  height: 80px; }

.Footer-block-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footer-block {
  width: 30%;
  float: left;
  position: relative; }
  .footer-block a {
    margin-bottom: 10px;
    width: 100%;
    display: inline-block;
    text-decoration: none; }
    .footer-block a:hover {
      color: #fff;
      -khtml-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -ms-transition: all 0.3s;
      transition: all 0.3s; }
  .footer-block a:last-of-type {
    margin-bottom: 0; }

.Footer-block-social {
  width: 100%;
  padding: 9px 25px 5px 5px;
  border-radius: 10px;
  margin-bottom: 0px; }

.Footer-block-social--linkedin {
  background-image: url("../../images/Footer-block-social--li.png"); }

.Footer-block-social--twitter {
  background-image: url("../../images/Footer-block-social--tw.png"); }

.Footer-block-home {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../images/Footer-block-social--home.png");
  border-radius: 10px;
  padding: 9px 25px 5px 25px; }
  .Footer-block-home a:hover {
    color: #132a4f; }

.Footer-block-social--linkedin,
.Footer-block-social--twitter,
.Footer-block-home {
  background-size: auto 60%;
  background-position: left 10px top 50%;
  background-repeat: no-repeat;
  border: 1px solid #132a4f; }
  .Footer-block-social--linkedin:hover,
  .Footer-block-social--twitter:hover,
  .Footer-block-home:hover {
    padding-right: 30px;
    -khtml-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s; }

.Footer-grave {
  padding: 15px 5% 10px 5%; }
  .Footer-grave a {
    color: orange;
    text-decoration: none; }

/*# sourceMappingURL=development.css.map */
