@media screen and (min-width: 2000px) {
  .Hero-right-widescreen-gutter,
  .Landing-culture-gutter-left,
  .Landing-culture-gutter-right {
    display: inline-block; }

  .Hero-left {
    background-color: #75c147; }

  .Hero-right {
    padding-right: 5%; }

  .Hero-right-quote {
    right: 12.75%; } }
@media screen and (max-width: 1150px) {
  .Hero-hex-1,
  .Hero-hex-2,
  .Hero-hex-3 {
    width: 90%; }

  .Hero-hex-1 {
    right: -20%; }

  .Hero-hex-2 {
    right: -70%; }

  .Hero-hex-3 {
    left: 55%; }

  .Hero-hex-icon-1 {
    width: 50%;
    right: 20%; }

  .Hero-hex-icon-2 {
    width: 50%;
    right: -70%; }

  .Hero-hex-icon-3 {
    width: 50%;
    right: -25%; }

  .Hero-hex-dot-1 {
    top: 47.25%; }

  .Hero-hex-dot-2 {
    top: 47.25%; }

  .Hero-hex-dot-3 {
    top: 122%; } }
@media screen and (max-width: 935px) {
  .Hero-video video {
    display: none; }

  .Hero-overlay {
    background-color: rgba(19, 42, 79, 0.9); } }
@media screen and (max-width: 850px) {
  .Hero {
    height: auto;
    min-height: 1px; }

  .Hero-video {
    width: auto;
    height: auto;
    position: relative; }
    .Hero-video video {
      display: none; }

  .Hero-overlay {
    position: relative; }

  .Hero-left {
    width: 100%;
    padding: 75px 5%;
    background-color: rgba(19, 42, 79, 0.5);
    text-shadow: #091426 1px 0 15px; }
    .Hero-left h1 {
      margin-bottom: 25px; }

  .Hero-right {
    display: none; }

  .Landing-portfolio-container img {
    height: 15px; }

  .Landing-culture {
    background-image: url("../../images/Landing-culture-mobile.jpg");
    background-position: center center; }

  .Landing-culture-left {
    width: 100%;
    background-color: rgba(19, 42, 79, 0.75); }

  .Landing-map {
    display: inline-block; }

  .Landing-map-left {
    width: 100%;
    margin-bottom: 0; }

  .Landing-map-address {
    margin-bottom: 0; }

  .Landing-map-right,
  .Landing-map-wrapper,
  #Landing-map-gmaps {
    display: none; }

  .newrowcityperson {
    width: 49%; }

  .cityperson-hide {
    display: none; }

  .Footer-block-social,
  .Footer-block-home {
    height: 2em;
    background-position: center center;
    padding: 9px 10px 5px 5px; }
    .Footer-block-social span,
    .Footer-block-home span {
      display: none; }
    .Footer-block-social:hover,
    .Footer-block-home:hover {
      padding-right: 10px; } }
@media screen and (max-width: 700px) {
  .Layout-left {
    width: 100%;
    margin-bottom: 50px; }

  .Layout-right {
    width: 100%;
    padding-left: 0;
    padding-right: 0; }

  .newrowcityperson {
    width: 70%;
    margin-left: 15%; }

  .newcityperson-linkout {
    display: inline-block; }

  .Footer {
    background-image: none; }

  .Footer-newsletter {
    display: inline-block;
    padding-top: 40px;
    padding-bottom: 50px; }
    .Footer-newsletter .Layout-left {
      margin-bottom: 25px;
      padding-bottom: 0; }

  .Subpage-hero {
    background-size: auto 50px; } }
@media screen and (max-width: 500px) {
  .Footer-block-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

  .footer-block {
    width: 100%;
    height: auto;
    margin-bottom: 15px; }
    .footer-block a {
      margin-bottom: 15px; }

  .Footer-block-social--linkedin {
    margin-bottom: 25px; }

  .Footer-block-home {
    margin-top: 25px; } }

/*# sourceMappingURL=mobile.css.map */
