.Navigation {
  width: 100%;
  z-index: 9999;
  overflow: visible; }

.Navigation-newsbar {
  width: 100%;
  height: 40px;
  display: table; }

.Navigation-newsbar-align {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  font-family: "dinlight"; }
  .Navigation-newsbar-align span em {
    font-family: "din"; }
  .Navigation-newsbar-align span::after {
    content: '\21FE';
    margin-left: 10px; }

.Navigation-logo {
  height: 100%;
  float: left;
  display: table;
  position: relative;
  z-index: 9999; }

.Navigation-logo-align {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  position: relative; }
  .Navigation-logo-align img {
    height: 75px;
    margin-top: 5px; }

.Navigation-logo-bg {
  width: 383px;
  height: 180px;
  position: absolute;
  left: -50px;
  left: -5vw;
  top: -40px;
  background-image: url("../../images/Navigation-logo-bg.png");
  background-size: 100% 100%; }

.Navigation-linkbar {
  width: 100%;
  height: 100px; }

.Navigation-linkbar-linkwrap {
  width: 65%;
  height: 100%;
  float: right;
  padding: 5px 0;
  display: flex;
  justify-content: space-between; }
  .Navigation-linkbar-linkwrap div:first-of-type .Navigation-linkbar-box-icon {
    background-position: right top; }
  .Navigation-linkbar-linkwrap div:nth-child(2) .Navigation-linkbar-box-icon {
    background-position: right -30px; }
  .Navigation-linkbar-linkwrap div:nth-child(3) .Navigation-linkbar-box-icon {
    background-position: right -60px; }
  .Navigation-linkbar-linkwrap div:nth-child(4) .Navigation-linkbar-box-icon {
    background-position: right -90px; }
  .Navigation-linkbar-linkwrap div:last-of-type .Navigation-linkbar-box-icon {
    background-position: right -120px; }

.Navigation-linkbar-box {
  width: 19.5%;
  height: 100%;
  position: relative;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #f90;
  background-color: #f90;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb84d), to(#f90));
  background-image: -webkit-linear-gradient(top, #ffad33, #f90);
  background-image: -moz-linear-gradient(top, #ffad33, #f90);
  background-image: -ms-linear-gradient(top, #ffad33, #f90);
  background-image: -o-linear-gradient(top, #ffad33, #f90);
  background-image: linear-gradient(to bottom, #ffad33, #f90);
  padding: 10px 15px;
  color: #fff;
  text-shadow: #cc7a00 1px 0 15px; }
  .Navigation-linkbar-box br {
    display: none; }
  .Navigation-linkbar-box:hover {
    background-color: #306faa;
    background-color: #306faa;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5795d0), to(#306faa));
    background-image: -webkit-linear-gradient(top, #4389ca, #306faa);
    background-image: -moz-linear-gradient(top, #4389ca, #306faa);
    background-image: -ms-linear-gradient(top, #4389ca, #306faa);
    background-image: -o-linear-gradient(top, #4389ca, #306faa);
    background-image: linear-gradient(to bottom, #4389ca, #306faa);
    text-shadow: #255582 1px 0 15px;
    -khtml-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s; }

.Navigation-linkbar-box-icon {
  width: 50px;
  height: 20px;
  position: absolute;
  right: 15px;
  bottom: 10px;
  background-image: url("../../images/Navigation-linkbar-box-icon.png");
  background-repeat: no-repeat; }

/*# sourceMappingURL=nav.css.map */
